<main role="main">
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1><%= @user.name %>'s Page!</h1>
          <h3><%= @user.cohort.name %> <i>(Mod <%= @user.cohort.mod %>)</i></h3>
          <hr>
          <h3><%= @user.name %>'s Blogs</h3>
          <% @user.blogs.each do |blog|%>
          <% unless blog.title == nil %>
          <a class="font-flatiron btn btn-secondary" href="/blogs/<%= blog.id %>" role="button"><%= blog.title %> &raquo;</a><br><br>
          <% end %>
          <% end %>
        </div>
        <hr>
      </div>
    </div>
  </div>
</main>

<footer class="container">
  <p>&copy; Flatiron Blogger 2019-2019</p>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>
  window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')
</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
</body>

</html>
